<h1>Welcome!</h1>

<p><strong>Data: </strong> <%= brazilian_date(Date.today) %> </p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>

<p>
  Você está em ambiente de <strong> <%= ambiente_rails %> </strong>
</p>

<p>
  Variável de instância/sessão: <%= @name %>

  <p>
    @name pode ter valor diferente a cada sessão
  </p>

  <p>
    Deus do conhecimento: <%= @god_knowledge %>
  </p>

  <p>
    Deus da velocidade: <%= @god_velocity %>
  </p>
</p>
