<div id="<%= dom_id coin %>">

	<p>
		<strong>Description:</strong>
		<%= coin.description %>
	</p>

	<p>
		<strong>Acronym:</strong>
		<%= coin.acronym %>
	</p>

	<p>
		<strong>Url image:</strong>
		<!--
     <img src="<%= coin.url_image %>" width="50" height="50" />
    Escrevendo o código acima em Ruby...
    -->
		<!-- <%= image_tag coin.url_image, width: 30, height: 30 %> -->
		<%= image_tag coin.url_image, size:"30x30" %>
	</p>
</div>
